<!-- 生成时间： 2018-09-21 13:39:33 -->
<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/css/list.css">
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
</head>
<body>
<script type="text/javascript">

    /*新增 model*/
    function newModel() {
        popup.openIframe('新建', '${ctx!}/bcScanlog/newModel', '800px', '500px');
    }

    /*编辑 model*/
    function editModel() {
        var rows = $("#dg").datagrid("getSelections");
        if (rows.length==1) {
            var row = rows[0];
            /*有且只有一个主键*/
            popup.openIframe('编辑', '${ctx!}/bcScanlog/newModel?idbc_scanlog=' + row.idbc_scanlog, '1600px', '800px');
        } else {
            popup.msg('请选择一行数据进行编辑');
        }
    }

    /*删除 model*/
    function deleteModel() {
        var rows = $("#dg").datagrid("getSelections");
        if (rows.length!=0) {
            /*有且只有一个主键*/
            var idbc_scanlogAry =[];
            rows.forEach(function (row) {
                idbc_scanlogAry.push(row.idbc_scanlog);
            });
            popup.openConfirm(3, '删除', '您确定要删除选中的'+rows.length+'条记录吗?', function () {
                $.post('${ctx!}/bcScanlog/deleteAction?idbc_scanlogs='+idbc_scanlogAry.splice(',') , function (data) {
                    popup.msg(data, function () {
                        $('#dg').datagrid('reload');
                    });
                }, "text").error(function(){ popup.errMsg(); });
            });

        } else {
            popup.msg('请至少选择一行进行删除');
        }
    }

    /*条件查询*/
    function queryModel() {
        var queryParams = {};
        queryParams['search_EQ_bc_username'] = $("#bc_username").textbox("getValue");
        queryParams['search_EQ_bc_barcodesn'] = $("#bc_barcodesn").textbox("getValue");
        queryParams['search_EQ_bc_barcoderole'] = $("#bc_barcoderole").textbox("getValue");
        queryParams['search_EQ_bc_scanlogstatus'] = $("#bc_scanlogstatus").textbox("getValue");
        /*load 从第一页加载，reload 重载本页，此处要用load*/
        $('#dg').datagrid('load', queryParams);
    }
    function barcodeType(data) {
    	switch(data){
			case  0: return 'T0';
			case  1: return 'T1';
			case  2: return 'T2';
			case  3: return 'T3';
			case  4: return 'T4';
			case  5: return 'T5';
			case  6: return 'T6';
			case  7: return 'T7';
			case  8: return 'T8';
			case  9: return 'T9';
			case 10: return 'T10';
		}
		return 'Error';
    }
    function scanlogStatus(data) {
    	switch(data){
			case  '0': return '正常';
			case  '1': return '异常';
		}
		return 'Error';
    }
    
</script>
<table id="dg" class="easyui-datagrid"
       url="${ctx!}/bcScanlog/query"
       data-options="onDblClickRow:editModel"
       toolbar="#tb" rownumbers="true" border="false"
       fit="true"    fitColumns="true"
       striped="true"
       pagination="true"
       ctrlSelect="true"
       pageSize="40" pageList="[20,40]">
    <thead>
    <tr>
        <!--有且只有一个主键-->
        <th data-options="field:'idbc_scanlog',checkbox:true"></th>
        
        <th field="bc_username" width="100">记录人</th>
        <th field="bc_barcodesn" width="100">设备码</th>
        <th field="bc_barcodename" width="100">设备名称</th>
        <th field="bc_barcodeleve" width="100">设备等级</th>
        <th field="bc_barcoderole" width="100">设备角色</th>
        <th field="bc_barcodetype" width="100" data-options="formatter:barcodeType">设备报告类型</th>
        
        <th field="bc_scanlogcreatetime" width="100">记录时间</th>
        
        <th field="bc_scanlogstatus" width="100" data-options="formatter:scanlogStatus">记录状态</th>
        <th field="bc_scanlogcontent1" width="100">文本1</th>
        <th field="bc_scanlogcontent2" width="100">文本2</th>
        <th field="bc_scanlogcontent3" width="100">文本3</th>
        <th field="bc_scanlogcontent4" width="100">文本4</th>
        <th field="bc_scanlogcontent5" width="100">文本5</th>
        
        <th field="bc_scanlogimg1" width="100">附件1</th>
        <th field="bc_scanlogimg2" width="100">附件2</th>
        <th field="bc_scanlogimg3" width="100">附件3</th>
        <th field="bc_scanlogimg4" width="100">附件4</th>
        <th field="bc_scanlogimg5" width="100">附件5</th>
        
    </tr>
    </thead>
</table>

<div id="tb">
	<!-- 
	<a onclick="newModel()" href="#" class="easyui-linkbutton" iconCls="iconfont icon-add" plain="true">新增</a>
	-->
    <a onclick="editModel()" href="#" class="easyui-linkbutton" iconCls="iconfont icon-edit" plain="true">编辑</a>
    <!--  
    <a onclick="deleteModel()" href="#" class="easyui-linkbutton  " iconCls="iconfont icon-delete" plain="true">删除</a>
    -->
    <span id="enterSpan" class="searchInputArea">
          <input id="bc_username" prompt="记录人" class="easyui-textbox" style="width:120px; ">
          <input id="bc_barcodesn" prompt="设备码" class="easyui-textbox" style="width:120px; ">
          <input id="bc_barcoderole" prompt="设备角色" class="easyui-textbox" style="width:120px; ">
          <select id="bc_scanlogstatus" prompt="记录状态" class="easyui-combobox" style="width:120px; ">
          		<option value=""></option>
				<option value="0">正常</option>
				<option value="1">异常</option>
          </select>
          <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-search',plain:true" onclick="queryModel()">搜索</a>
    </span>
</div>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/popup-tools.js"></script>
</@layout>
